# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\уник3\рпп\locallibrary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
